@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p style="font-family:'Libre Baskerville',serif;font-size:120px;"><span style="color:#0096FF;">Lion</span>soft</p>
</div>