@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p class="h1" style="font-family:'Libre Baskerville',serif;margin-top:100px;"><span style="color:#0096FF;">Lion</span>soft</p>
</div>