html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.btn {
    margin-bottom: 2px;
}

h1 {
    margin: 10px 0 10px 0;
}

.rejected {
    color: #ccc;
}